extends ../layout

block content
  .container
      h2 Enter Product Information
      br
      form.form-horizontal(role='form',enctype='multipart/form-data',method='post')
        .form-group
          label.control-label.col-sm-2(for='title') Title:
          .col-sm-10
            input#title.form-control(type='text', name='title', data-name='title',required='true', placeholder='Enter title')
        .form-group
          label.control-label.col-sm-2(for='description') Description:
          .col-sm-10
            textarea#description.form-control(name='description', data-name='description',required='true', placeholder='Enter description')
        .form-group
          label.control-label.col-sm-2(for='price') Price:
          .col-sm-10
            input#price.form-control(type='text', name='price', data-name='price', required='true', placeholder='Enter price')
        .form-group
          label.control-label.col-sm-2(for='category') Category:
          .col-sm-10
            input#price.form-control(type='text', name='category', data-name='category',required='true', placeholder='Enter category')
        .form-group
          label.control-label.col-sm-2(for='images') Upload Image:
          .col-sm-10
            input#price.form-control(type='file', name='images')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit') Submit

    .container
     h1 Product List
     br
     if (productlist)
         each product in productlist
            .container
               .col-xs-3
                  <img src="#{product.imgpath}" class="img-rounded pull-xs-right" width="200" height="200">
               .col-xs-9
                  .row
                     label.control-label.col-sm-2 Title:
                     label.control-label.col-sm-2 #{product.title}
                  .row
                     label.control-label.col-sm-2 Description:
                     label.control-label.col-sm-2 #{product.description}
                  .row
                     label.control-label.col-sm-2 Price:
                     label.control-label.col-sm-2 #{product.price} $
                  .row
                     label.control-label.col-sm-2 Category:
                     label.control-label.col-sm-2 #{product.category}
                  .row
                     .col-sm-3
                        a.btn.btn-info.col-sm-4(href='/admin/products/#{product._id}/delete', role='button') Delete
                     .col-sm-3
                        a.btn.btn-info.col-sm-4(href='/admin/products/#{product._id}/edit', role='button') Edit 
            hr
      else
        h2 No Products in the database.

    